# Data science Tools and Ecosystem

In this notebook, Data Tools and Ecosystem are sumarized.

some of the popular languages that Data scientists use are:

*1. python*

*2. R*

*3. SQL*

*4. Julia*

*5. Scala*

Some of the commonly used libraries used by Data scientists include:

*1. Numpy*

*2. pandas*

*3. Matplotlib*

*4. scikit-learn*

*5. tensorFlow and keras*

|Data science Tools|
-------------------
|Jupyter Notebooks |
| RStudio|
| Anaconda|
|Apache Spark|

### Below are a few example of evaluating arthimetic expression in python

In [1]:
(3*4)+5

17

This a simple arithemetic expression to multiply then add integers

In [6]:
minutes = 200 
hours = minutes/60
print("2OO minutes in hour=",hours, "hour")

2OO minutes in hour= 3.3333333333333335 hour

**Objectives:**

List popular languages for Data Science

- python

- R

- SQL

- Julia

- Scala

## Author

MAHENDAR BS